# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Data folders
dataset/
frames/
#videos/
store_CVAT/

# Training outputs
runs/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Logs
*.log